body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(215, 236, 255);
    color: #0E134C;
}

h2 {
    font-size: 1.2em;
    margin: 0.2em;
}

.container {
    display: flex;
}

.scriptTextAreaContainer {
    flex: 1 1 33%;
}

.textAreaContainer {
    flex-wrap: wrap;
    margin: 5px;
    background-color: #d3d3d3;
    border: 1px solid black;
    padding: 0.5em;
    height: fit-content;
}

.textAreaContainer textarea {
    resize: none; /* This will disable the resize grabber */
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.buttonContainer {
    margin: 5px 5px 1em 5px;
    text-align: right;
}

.buttonContainer button {
    font-size: 2em;
}

.extraToolContainer {
    border: solid 2px rgb(0, 109, 177);
    padding: 0.5em;
    margin: 0.25em;
}

#prepareStringOptions ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#prepareStringOptions ul li {
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
}

footer {
    border: 1px solid rgb(0, 109, 177);
    padding: 0.5em;
    margin: 1em 0.25em;
    width: fit-content;
}